html {
  font-family: 'Poppins', sans-serif;
}

button {
  font-size: 16px;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.ticTacToeContainer {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.ticTacToeGrid {
  display: inline-block;
}

.row {
  display: flex;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  cursor: pointer;
  background-color: lightgrey;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.cell:hover {
    background-color: grey;
}

.row .cell:first-child {
  border-left: none;
}

.row .cell:last-child {
  border-right: none;
}

.ticTacToeGrid .row:first-child .cell {
  border-top: none;
}

.ticTacToeGrid .row:last-child .cell {
  border-bottom: none;
}

.unclickable {
  cursor: default;
  background-color: transparent;
}

.unclickable:hover {
  background-color: transparent;
}

.blue {
  color: #000066;
}

.red {
  color: #A80000;
}

.secondaryButton {
  padding: 10px;
  border: 1px solid grey;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  background-color: grey;
  transition: all 0.3s ease;
}

.secondaryButton:hover {
  background-color: darkgrey;
  border: 1px solid darkgrey;
}
